.modal-character-info-div {
  font-size: x-large;
}

.modal-character-info-div span {
  font-weight: bold;
}

.modal-character-img-div img {
  width: 100px;
  margin-left: 100px;
}

.flex {
  display: flex;
}

.form-button {
  background-color: #36a9ae;
  background-image: linear-gradient(#37adb2, #329ca0);
  border: 1px solid #7be470;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
  color: #ffffff !important;
  cursor: pointer;
  display: block;
  margin: 1rem auto !important;
  text-align: center;
  width: 10rem;
}

/* overridar bootstrap modal styleing, verkar inte behöva !important */
.modal-header {
  padding: 0 !important;
  overflow: hidden !important;
}

.modal-header img {
  width: 100%;
}

.modal-header .btn-close {
  position: absolute;
  top: 0.7rem;
  right: 0.7rem;
  opacity: 0.5;
}

.modal-footer {
  justify-content: center;
}

.modal-footer .btn {
  background-color: aquamarine;
  color: black;
}

/* remove ugly bootstrapstyling on forms */

.form-control {
  border-style: none;
  border-radius: 0px;
  border-bottom: 2px solid rgb(49, 191, 191) !important;
  width: 300px;
}

.form-control.is-valid,
.was-validated .form-control:valid {
  background-image: none !important;
  border-color: #00ff4c !important;
  padding-right: 40px !important;
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
  background-image: none !important;
  border-color: #ff0d00 !important;
  padding-right: 0.75em;
}

.form-control.is-valid:focus,
.was-validated .form-control:valid:focus {
  box-shadow: none;
}

.form-control.is-invalid:focus,
.was-validated .form-control:invalid:focus {
  box-shadow: none;
}
