.character-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.character-info-div {
    display: flex;
    flex-direction: column;
    background: white;
    margin: 15px;
    width: auto;
}

.name-div {
    color: limegreen
}

.charcter-img {
    width: 200px;
}
