.main-container {
    width: 100vw;
}

.character-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 80vw;
    margin: auto;
}

.character-card {
    cursor: pointer;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    max-width: 250px;

}

.character-info-div {
    display: flex;
    flex-direction: column;
    background: white;
    width: auto;
    padding: 10px;
    height: 100%;   
}
.character-info-div span {
    font-weight: bold;
}

.character-img-div {
    border: none;
    border-radius: 10px;
    width: 100%;
}

.character-img-div img {
    max-width: 100%;
    height: auto;  
}

.character-container>* {
    transition: opacity 150ms linear 100ms, transform 150ms ease-in-out 100ms;
}

/* Makes the fades smooth with a slight delay to prevent jumps as the mouse moves between items */

.character-container>* {
    opacity: 0.7;
    transform: scale(0.9);
}

.character-container>*:hover {
    opacity: 1;
    transform: scale(1);
    transition-delay: 0ms, 0ms;
}


